@media (max-width: 1024px){
    .card{
        margin-top:20px;
      margin: auto;
    }
     }
   @media(max-width: 768px){
     .card{
         margin-top:20px;
       margin: auto;
     }
     
   }